---
---

<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_purpose">Purpose</a></li>
<li><a href="#_checklist">Checklist</a>
<ul class="sectlevel2">
<li><a href="#_congressional_structure">Congressional Structure</a></li>
<li><a href="#_enumerated_legislative_powers">Enumerated Legislative Powers</a></li>
<li><a href="#_executive_structure_and_powers">Executive Structure and Powers</a></li>
<li><a href="#_judicial_structure">Judicial Structure</a></li>
<li><a href="#_individual_rights">Individual Rights</a></li>
<li><a href="#_equal_citizenship_and_civil_rights">Equal Citizenship and Civil Rights</a></li>
<li><a href="#_federalism">Federalism</a></li>
<li><a href="#_fiscal_rules">Fiscal Rules</a></li>
<li><a href="#_foreign_affairs_and_war">Foreign Affairs and War</a></li>
<li><a href="#_constitutional_amendment_and_ratification">Constitutional Amendment and Ratification</a></li>
<li><a href="#_public_office_rules">Public Office Rules</a></li>
<li><a href="#_transition_and_continuity">Transition and Continuity</a></li>
</ul>
</li>
</ul>

