---
---

<div id="toctitle">Table of Contents</div>
<ul class="sectlevel1">
<li><a href="#_gathering_popular_support">Gathering Popular Support</a>
<ul class="sectlevel2">
<li><a href="#_social_media_campaign">Social Media Campaign</a></li>
<li><a href="#_the_website">The Website</a></li>
</ul>
</li>
<li><a href="#_winning_elections">Winning Elections</a>
<ul class="sectlevel2">
<li><a href="#round-1--2026-federal-and-state-midterm-elections">Round 1 — 2026 Federal and State Midterm Elections</a></li>
<li><a href="#round-2--2028-presidential-and-congressional-elections">Round 2 — 2028 Presidential and Congressional Elections</a></li>
</ul>
</li>
<li><a href="#_conducting_initial_transitions">Conducting Initial Transitions</a>
<ul class="sectlevel2">
<li><a href="#_calling_the_constitutional_convention">Calling the Constitutional Convention</a></li>
<li><a href="#_the_constitutional_convention">The Constitutional Convention</a></li>
</ul>
</li>
<li><a href="#_post_ratification_transitions">Post-Ratification Transitions</a>
<ul class="sectlevel2">
<li><a href="#_senate_seats_based_on_population_the_transition">Senate Seats Based on Population: The Transition</a></li>
<li><a href="#_revocation_votes_the_peoples_check_on_the_new_government">Revocation Votes: The People’s Check on the New Government</a></li>
<li><a href="#_what_citizens_can_do_if_something_seems_wrong">What Citizens Can Do If Something Seems Wrong</a></li>
<li><a href="#_how_you_can_help_right_now">How You Can Help Right Now</a></li>
</ul>
</li>
</ul>

